*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /*  inputs  */
  main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  
  form {
    border: 1px solid black;
    padding: 20px;
    width: 500px;
    margin-bottom: 20%;
  }
  
  .inputs {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 10px;
  }
  
  .inputs > * {
    border: 2px solid #333;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 1;
  }
  
  .copytext{
    font-size: 30px;
    text-align: center;
  }

  .inputs input:hover,
  .inputs input:focus {
    border-color: #33F;
  }
  
  input[type="submit"] {
    width: 20%;
    padding:10px ;
    margin-left: 40%;
    background: #333;
    color: #fff;
    font-weight: 800;
    border: none;
    cursor: pointer;
  /*  align-self: center;*/
  /*  justify-self: center;
    align-items: auto;*/
/*    transition: background 250ms; */
  }
  
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    background: #33F;
  }
  
  input {
    border-radius: 5px;
  }